.wrapper,.content{
     height:100vh; 
}
.bg-green{

    background-color:#198754!important;
}
.bg-silver{
background-color:#efebe9;
}
.border-manage{
    border-radius: 89px 128px 85px 92px / 0px 82px 87px 1px;
}
.animate__animated.animate__backInLeft{
    --animate-duration: 3s;
}

.animate__animated.animate__bounce{
    --animate-duration: 3s;
    --animate-delay: 3s;
}
.error,.error2{
    display:none;
}



/* add thier previous css */

.email .e_desc,.email .e_date{
    color:#e9ecef!important;
    font-size:15px;
}

               /* ------------signin and create_account start------------------------ */

              .accordion-button:not(.collapsed) {
                color: #ffc107;
                background-color: #198754;
                box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
            }
            .accordion-button:focus {
                z-index: 3;
                border-color: #198754;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgb(76 175 80 / 39%);
            }

            .accordion-button::after {
                flex-shrink: 0;
                width: 1.25rem;
                height: 1.25rem;
                margin-left: 4px;
                content: "";
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 1.25rem;
                transition: transform .2s ease-in-out;
            }

            .accordion-button:not(.collapsed)::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                transform: rotate(-180deg);
            }