


               /* ------------signin and create_account start------------------------ */

.wrapper{
    height:100vh;
    background-color:#e9ecef;

}
.row , .col-md-5,.col-md-7{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* .col-md-7{
    background-color:#e9ecef;
} */
.col-md-5{
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

 
  
    
}
.error{
    display:none;
}
.bg{
    background-color:#e9ecef!important;
}
.active{
    background-color:#198754!important;
}

  .form-control:focus,.form-select:focus{
      border-color:#198754;
  }
    
  /*-----------------------signin and create_account end---------------*/



                                /*------------------------- index start-------------------*/
                                .top_color{
                                    color:rgba(0,0,0,.55);
                                }

                                .top_color:hover{
                                    color:#198754;
                                }
                                .admin_chat_notify_top{
                                    top: 13px;
                                    left: 43px;
                                }

                                .admin_notify_top{
                                    top: 13px;
                                    left: 55px;
                                }

                                

.menu{
    list-style:none;
}
.menu li a:active ,.dropdown-item:active{
    background-color:#198754;

}
.green{
    color:#198754!important;
}
.yellow{
    color:#ffc107!important;
}
.card{
    position:relative;
}
.cross_btn
{
    position:absolute;
    left:100%;
    top:-20px;
    cursor: pointer;

}
    
.list_icons{
    background-color:#e9ecef ;
    height:20px;
    width:20px;
    border-radius: 50px;
}

.responsive{
    
    height:100vh;
    background-color:#e9ecef;
}
.btn_option{
    color:#198754!important;
}
.btn_option:focus{
    border-color:#198754!important;
    box-shadow: 0 0 0 0.25rem rgb(23 135 84 / 25%);
}


/*------------------------- index end-------------------*/


                     /*------------------------------create_project start---------------------*/


.alert{
position:fixed;
left:20%;
top:50%;
width:100%;
max-width:600px;
z-index:10000;
background-color:#e9ecef!important ;
display:block;



}






                     /*------------------------------create_project end------------------*/











                      /*------------------------------view member start------------------*/
                      .table-img{
                          position: absolute;
                          top:-90px;
                          display:none;
                          
                      }
                      .link-success{
                          text-decoration: none;
                      }

                       /*------------------------------view member start------------------*/